<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".guide.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 跳转到网络设置的权限 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity android:name=".login.activity.LoginActivity" android:launchMode="singleTask"/>
        <activity android:name=".register.activity.RegisterActivity" android:launchMode="singleTask"/>
        <activity android:name=".home.activity.HomeActivity" android:launchMode="singleTask" android:theme="@style/DefaultCityPickerTheme"/>
        <activity android:name=".my.activity.MyMessageActivity"/>
        <activity android:name=".my.activity.UpdatePasswordActivity"/>
        <activity android:name=".my.activity.FeedBackActivity"/>
        <activity android:name=".my.activity.MyTicketrecordActivity"/>
        <activity android:name=".my.activity.MyAttentionActivity"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            />
        <activity android:name=".home.activity.FilmDetailsActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".home.activity.MovieListActivity"/>
        <activity android:name=".camera.activity.CinemaDateListActivity"/>
        <activity android:name=".home.activity.BuyTicketActivity"/>
        <activity android:name=".seat.activity.SeatActivity"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wxb3852e6a6b7d9516"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.MovieScheduleActivity"/>
        <activity android:name=".my.activity.SystemMessageActivity"/>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="962da9ed001e0a8d01c1cd1ef4d44ed4">
            <!--开发者申请的key-->
        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
        <!--<receiver android:name=".receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                &lt;!&ndash; 接收消息透传 &ndash;&gt;
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                &lt;!&ndash; 监听注册、反注册、设置/删除标签、通知被点击等处理结果 &ndash;&gt;
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>-->
    </application>
</manifest>